header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    background-image: url(../assets/logo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;

}

nav>a {
    border: 1px solid;
    padding: 8px;
    color: black;
    text-decoration: none;
    display: inline;
}

.banner {
    height: 480px;
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
}